*{
    padding: 0px;
    margin: 0px;
}
#full{
    font-size: 28px;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    border-radius: 10px;
    padding: 20px;
    margin: 2px;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: rgba(0, 175, 185,0.5);
    box-shadow: 3px 3px 12px pink;
}
#main{
    box-shadow: 3px 3px 12px pink;
    font-size: 20px;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: left;
    background-color: rgba(240, 113, 103,0.6);
}
p{
    padding: 5px;
}